snippet func "Julia function" 
function ${1:function_name}(${2:args}${3/.+/; /}${3:kwargs})
	$0
end
endsnippet

snippet if "if statement" 
if ${1:condition}
	${0:${VISUAL}}
end
endsnippet

snippet eif "elseif" 
elseif $1
	$0
endsnippet

snippet for "for loop" 
for ${1:var} in ${2:iterable}
	${0:${VISUAL}}
end
endsnippet

snippet const "constant" 
const ${1:name}${2/.+/::/ }${2:Type} = $0
endsnippet

snippet str "struct" 
struct ${1:name} ${2/.+/<:/} ${2:SuperType} 
	$0
end
endsnippet

snippet mutstr "mutable struct" 
${1:@kwdef }mutable struct ${2:name} ${3/.+/<:/} ${3:SuperType}
	$0
end
endsnippet

snippet ret "return" 
return ${0:nothing}
endsnippet

snippet exer "Exercise in table format" bA
push!(d, ["${1:Name}", ${2:Max weight}, ${3:Quad}, ${4:Ham}, ${5:Tric}, ${6:Bic}, ${7:Pec}, ${8:Delt}, ${9:Lat}, ${10:Abs}, ${11:Calf}, "${12:Desc}", 0])
endsnippet

