snippet snip "A snippet for writing Ultisnips snippets" b
`!p snip.rv = "snippet"` ${1:trigger} "${2:Description}" $3
$4
`!p snip.rv = "endsnippet"`
$0
endsnippet

snippet -- "Commented line with a bunch of dashes ----------------- " bA
# --------------------------------------------- #
endsnippet

snippet '\$(\d+)d' "TabStop with default value" rA
\$\{`!p snip.rv = match.group(1)`:${1:val}}$0
endsnippet

snippet '\$(\d+)c' "TabStop conditional" rA
\$\{`!p snip.rv = match.group(1)`/${1:if}/${2:then}/${3:else}}$0
endsnippet

snippet envcode "Environment code for latex snippets" bA
global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1' or env('align')

def comment(): 
	return vim.eval('vimtex#syntax#in_comment()') == '1'

def env(name):
	[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')") 
	return x != '0' and y != '0'

def envs(*args):
	for name in args:
		[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')") 
		if x != '0' and y != '0':
			return 1

def notmath():
	return vim.eval('vimtex#syntax#in_mathzone()') == '0'
endglobal
endsnippet

