snippet snip "A snippet for writing Ultisnips snippets" b
`!p snip.rv = "snippet"` ${1:trigger} "${2:Description}" $3
$4
`!p snip.rv = "endsnippet"`
$0
endsnippet

snippet -- "Commented line with a bunch of dashes ----------------- " bA
# --------------------------------------------- #
endsnippet

snippet '\$(\d+)d' "TabStop with default value" rA
\$\{`!p snip.rv = match.group(1)`:${1:val}}$0
endsnippet

snippet '\$(\d+)c' "TabStop conditional" rA
\$\{`!p snip.rv = match.group(1)`/${1:if}/${2:then}/${3:else}}$0
endsnippet

