snippet DagPlan "Dag planning" bA
# Voormiddag
|        | Plan | Gedaan |
|--------|-------:|-------:|
|9u - 10u | $1    |        |
|10u - 11u | $2    |        |
|11u - 12u | $3    |        |


# Namiddag
|        | Plan | Gedaan |
|--------|-------:|-------:|
|13u - 14u | $4    |        |
|14u - 15u | $6    |        |
|15u - 16u | $7    |        |
|16u - 17u | Tiny tasks/afwerken    |        |

# Notities
$0
endsnippet
