global !p
def math():
	return vim.eval('vimtex#syntax#in_mathzone()') == '1'

def comment(): 
	return vim.eval('vimtex#syntax#in_comment()') == '1'

def env(name):
	[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')") 
	return x != '0' and y != '0'

def envs(*args):
	for name in args:
		[x,y] = vim.eval("vimtex#env#is_inside('" + name + "')") 
		if x != '0' and y != '0':
			return 1

def notmath():
	return vim.eval('vimtex#syntax#in_mathzone()') == '0'
endglobal

snippet nslide "newslide" bA
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

\begin{frame}{${1:\mytitle}}

${2:${VISUAL}}

\end{frame}

endsnippet

snippet nblock "new block" bA
\begin{block}{$1}
${2:${VISUAL}}
\end{block}
endsnippet

snippet nvb "new voorbeeld" bA
\begin{voorbeeld}{$1}
${2:${VISUAL}}
\end{voorbeeld}
endsnippet

snippet ncol "new column" bA
\begin{column}{${1:0.5\textwidth}}
${2:${VISUAL}}
\end{column}
$0
endsnippet

snippet ncls "new columns" bA
\begin{columns}
\begin{column}{${1:0.5\textwidth}}
${2:${VISUAL}}
\end{column}
\end{columns}
$0
endsnippet

snippet \\\ "Beamer Whiteline" iA
\\\\\\ \\\\
endsnippet
