snippet lk "link" wA
[${2:$1}](${1:link url})
endsnippet

snippet olk "Obsidian link" A
[[${1:file}${2/.+/|/}${2:link text}]]
endsnippet

snippet btt "Bold text" wA
**${1:${VISUAL}}** $0
endsnippet

snippet itt "Italic text" wA
*${1:${VISUAL}}* $0
endsnippet

snippet ibtt "Italic Bold text" wA
***${1:${VISUAL}}*** $0
endsnippet
